@media screen and ( min-width: 1500px){
    body{
        background-color: #0064AB;
    }
    .small, .medium, #mobile-header{
        display: none;
    }
    #web-header{
        background-color: #0064AB;
    }
    #web-header nav{
        display: flex;
        justify-content: space-between;
    }
    #web-header a{
        padding:  5px 10px;
        color: white;
    }
    main{
        width:1300px;
        /*margin:0 120px;*/
        margin: auto;
        background-color: white;
        padding: 15px;
    }
    #samanddale{
        float: left;
        padding: 0 15px 5px 0;
    }
    #spacer-bar{
        height: 350px;
        background-color: #0064AB;
        /*background-color: #white;*/
        overflow: scroll;
        margin-top: 15px;
    }
    #spacer-bar h3{
        color: white;
    }
    #spacer-bar a:link{
        color: white;
    }
    #spacer-bar a:visited{
        color: wheat;
    }

}
/* -- MEDIUM SECTION --*/
@media screen and ( min-width: 451px) and (max-width: 1600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .clearfix{
        clear: both;
    }
    #hidden{
        visibility: hidden;
    }
    #mobile-header, .small, .big{
        display: none;
    }
    .medium, #web-header{
        display: block;
    }
    #web-header, #localnav{
        background-color: #0064AB;
    }
    #web-header nav, #localnav nav{
        display: flex;
        justify-content: space-between;
    }
    #web-header a{
        margin: 0 10px;
        
    }
    .prpano{
        box-shadow: 8px 8px 20px;
        margin-bottom:10px;
    }
    body{
        background-color: #0064AB;
        /*width:80vw;*/
    
    }
    
    /* -------HEADER ---- */
    #mainflex{
        display: flex;
        justify-content:space-around;
    }
    #title-bar{
        display: flex;
        width:10vw;
        font-family: fantasy;
    }
    main{
        width:830px;
        /*margin:0 120px;*/
    }
    
    /*-- NAV SECTION --*/
    #navheader {
        display: flex;
        flex-direction: row;
    }
    nav ul{
        display: flex;
        flex-direction:column;
        list-style-type: none;
    }
    nav ul li {
        margin: 15px 40px 15px 5px;
    }
    .active:before{
        content: "\2192" ;
    }
    #web-header, #localnav{
        margin-bottom: 15px;
    }
    #web-header nav a, #localnav nav a{
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
    /* ------MAIN CONTENT SECTION  ----*/
    h1{
        padding:25px 0;
        font-family:Georgia, sans serif;
    
    }
    #samanddale{
        float: left;
    }
    .indextextspacing{
        height:260px;
    }
    #tagline{
        font-family: "Lucida Handwriting", Arial, sans serif;
        font-size: .75em;
    }
    main{
        /*max-width:1000px;*/
        margin: auto;
        background-color: white;
        padding: 15px;
    }
    main p{
        padding:0 0 25px 0;
    }
    main img{
        float: left;
        /*padding:0 15px 15px 0;*/
    }
    main ul{
        display: flex;
        flex-direction:row;
        list-style-type: none;
        justify-content: space-around;
    }
    main ul li{
        margin-bottom:25px;
    }
    main h4, main h3{
        margin:15px;
    }
    .body-copy-flex{
        display: flex;
    }
    .body-copy-flex img{
        /* margin:0 0 0 25px;*/
    }
    
    #textflex{
        display: flex;
        flex-direction: column;
    }
    figure{
        float: left;
        position: relative;
    }
    #float-right{
        float: right;
    }
    figcaption{
        font-style: italic;
        position: absolute; 
        color: white;
        padding-right: 5px;
        width: 100%;
        height: 50px;
        opacity: 0;
        padding: 0;
        bottom: 0%;
    }
    figure:before{
        content: "?";
        position: absolute;
        background-color: white;
        color: black;
        width: 24px;
        height: 24px;
        /*border-radius: 12px;*/
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        transition: all 0.6s ease;
        opacity: 0.75;
        bottom: 10px;
        left: 10px;
    }
    figure:hover:before {
        opacity: 0;
    }
    figure:hover figcaption {
        background-color: black;
        transition: all 0.6s ease;
        opacity: .75;
        bottom: 0;
        text-align: center;
        padding-top: 10px;
        font-size: 1.5em;
        /*opacity: 1;
        /*left: 0;*/
    }
    .fig-move , .figmove p{
        margin-left:25px;
    }
    
    /* ---- FOOTER -------*/
    footer{
        /*color: white;*/
        padding:20px;
        /*position: absolute;
        width:1000px;
        margin-left: 20vw;*/
        height: 240px;
        border:solid white 5px;
        display: flex;
        flex-direction: row;
    }
    #spacer-bar{
        height: 150px;
        background-color: #0064AB;
        /*background-color: #white;*/
        overflow: scroll;
        margin-top: 15px;
    }
    #spacer-bar h3{
        color: white;
    }
    #spacer-bar a:link{
        color: white;
    }
    #spacer-bar a:visited{
        color: wheat;
    }
    
    footer ul{
        display: flex;
        flex-direction: column;
        margin: 25px 45px 25px;
        height: 200px;
    }
    footer ul li{
       /* display: block;*/
        /*padding: 0px;*/
        /*margin-left:10vw;*/
    }
    footer ul li:first-child{
        font-weight:bold;
    }
    footer a:link{
        /*color:navajowhite;*/
        text-decoration: none;
    }
    footer a:hover{
        text-decoration: underline;
    }
    footer a:visited{
        /*color: white;*/
    }
    #copyright{
        float: right;
    }
}   
/* -- Mobile(small) Section -- */
@media screen and (max-width: 450px) {
    #web-header{
        display: none;
    }
    #click-here{
        display: block;
        margin: 15px 0 15px 0;
    }
    #close-nav{
        display: inline;
    }
    nav ul li{
        list-style: none;
    }
    .mobilenav {
        height: 100%;
        width: 0;/* changes with js */
        position: fixed; 
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    /* nav menu links */
    .mobilenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        /*display: block;*/
        transition: 0.3s
    }
    
    .mobilenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }
    
    /* Position and style the close button*/
    .mobilenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .subnav1, .subnav2, .subnav3{
        display: none;
        width: 250px;
        margin-left: 15px;
    }
    /*-------------MAIN SECTION -----------------------*/
    .big{
        display: none;
    }
    .small{
        display: block;
    }
    hr{
        display: none;
    }
    main{
        height: 100%;
    }
    main > ul > li{
        display: none;
    }
    figcaption{
        font-style: italic;
    }
    #TAShrink{
        height: auto; 
        width: auto; 
        max-width: 400px; 
        object-fit: contain;
    }
    #fig-move{
        margin-left:0;
    }
    #comments {
        resize: none;
    }
    span{
        display: inline-block;
        width: 700;
    }

    /* ------------MOBILE FOOTER ----------------------*/
    footer{
        color: black;
        padding:-10px;
        width:100%;
        border-top:solid black 2px;
        display: flex;
        flex-wrap: wrap;
    }
    footer ul{
        /*float: left;*/
    }
    footer ul li{
        display: block;
        margin-left: 0;
    }
    footer ul li:first-child{
        font-weight:bold;
    }
    footer p{
        clear: both;
        margin-top: 0px;
    }
    h3{
        display: none;
    }
    figure{
        float: none;
        margin-left: 0;
    }
    #hidden{
        visibility: hidden;
    }
    #spacer-bar{
        height: 150px;
        background-color: #0064AB;
        /*background-color: #white;*/
        overflow: scroll;
        margin-top: 15px;
    }
    #spacer-bar h3{
        color: white;
    }
    #spacer-bar a:link{
        color: white;
    }
    #spacer-bar a:visited{
        color: wheat;
    }
}
